*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/androidTest/
src/test/
app/src/androidTest/
app/src/test/
buildSrc/build/
gradle/wrapper/gradle-wrapper.jar
gradlew.bat
